{
  "name": "fr.openent~sqool",
  "config": {
    "main": "fr.openent.sqool.Sqool",
    "probes": [
      "org.entcore.common.http.health.Neo4jProbe",
      "org.entcore.common.http.health.MongoProbe"
    ],
    "port": 8057,
    "host": "https://{{ host }}",
    "app-address": "/sqool",
    "ssl": true,
    {% if overrideTheme %} "override-theme": {{ override2d }}, {% endif %}
    "auto-redeploy": false,
    "userbook-host": "https://{{ host }}",
    {% if sqoolApiAdditionalAttributes is defined %}
      "apiAdditionalAttributes": {{ sqoolApiAdditionalAttributes }},
    {% endif %}
    {% if (ha is defined and not(ha)) or (inventory_hostname_short is defined and inventory_hostname_short == 'jobs') %}
      "webhooks" : {{ sqoolWebhooks|default('[]') }},
    {% endif %}
    "mode": "prod"
  }
}