{
  "name": "fr.openent~sqool~${sqoolVersion}",
  "config": {
    "main" : "fr.openent.sqool.Sqool",
    "port" : 8057,
    "host": "${host}",
    "ssl" : $ssl,
    "auto-redeploy": false,
    "userbook-host": "${host}",
    "mode" : "${mode}",
    "publicConf": {
    }
  }
}
